livekit==1.1.8
livekit-agents==1.5.17
livekit-api==1.1.0
livekit-blingfire==1.1.0
livekit-protocol==1.1.14

google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2

python-dotenv
tavily-python

aiohttp
aiofiles
av
numpy
openai
pydantic
requests
sounddevice
click
typer
rich
psutil